@keyframes imgrt {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@font-face {
    font-family: 'Dana-regular';
    src: url(../assets/fonts/dana-regular.woff2);
}
* {
    text-decoration: none!important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@media screen and (min-width:493px)
{
    .footer p{
        font-size: 1rem!important;
    }
}
@media screen and (min-width:768px) {
    .header>a>img {
    border-left: 2px solid #FFF;
    }
    .header input {
        width: 300px!important;
    }
    .search-res{
        width: 270px!important;
        left: 15px!important;
        transform: translate(0, 0) !important;
    }
    .nav-item>li {
        display: inline-block!important;
    }
    .header-container{
        background-color: #16171A;
    }
    .footer span{
        width: 25%!important;
    }
    .search-bar{
        right: initial!important;
        left: 270px!important;
    }
    .submenu > div{
        position: absolute!important;

    }
}
@media screen  and (min-width: 1024px){
    .footer span {
        width: 50%!important;
    }
    .shlogo{
        width: 25% !important;
    }
}
body {
    direction: rtl;
    background-color: #3A3A3A;
    overflow: hidden;
    font-family: 'Dana-regular', serif !important;
}
.header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 3px #FFD100 solid;
    background-color: #282828;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.header>a>img {
    width: 160px;
    padding-left: 25px;
}
.header>a>span {
    color: #FFF;
    margin-right: 10px;
    font-size: 1.2rem;
}
.header>form {
    width: 100%}
.header>form a {
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
}
.header>form a>img {
    width: 20px;
    height: 20px;
}
.header input {
    width: 100%;
    border-radius: 50px;
    background: #16171A;
    border: none;
    color: #FFF;
    padding: 5px 15px;
}
.header input:focus {
    outline: none;
}
.header input::placeholder {
    font-size: .8rem;
    color: #C4C4C4;
    padding: 15px;
}
.search-bar{
    content: '';
    background-image: url("../assets/images/close-circle.svg");
    background-size: 100% 100%;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    right: 2vw;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0;
    transition: 800ms all;
    cursor: pointer;
}
.header>button {
    color: #FBCF16;
}
.header>div {
    background-color: #16171A;
}
.nav-item>li {
    display: block;
    border-radius: 15px;    
}
.nav-item a {
    display: block;
    padding: 7px 15px;
    text-align: center;
    font-weight: 600;
    font-size: .9rem;
    color: #FFFFFF;

}
.submenu-off>a::after {
    content: url(../assets/icons/ArrowDown-light.svg);
    vertical-align: sub;
    margin-right: 5px;
    color: #FFF;
}
.submenu-on>a::after{
    content: url(../assets/icons/ArrowDown-Dark.svg);
    vertical-align: sub;
    margin-right: 5px;
    color: #000;
}
.title{
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title img{
    border-radius: 20px;
}
.description{
    line-height: .8rem;
    text-justify:auto;
    text-align: right;
}
.description > small{
    font-size: .65rem;
}
.catlogobtn a{
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 25px;
}
.card-background{
    background-color: #282828;
}
.dl-btn{
    border: 1px #FBCF16 solid;
    padding: 8px 15px;
    margin-right: 5px;
    border-radius: 25px;
    color:#FBCF16;
}
.dl-btn:hover{
    background-color: #FFD100;
    color: #282828;
}
.selected{
    background-color: #FFD100!important;
    color: #3A3A3A!important;
    border-radius: 10px;
}
.footer{
    background-color: #282828;
    border-top: 4px #FFD100 solid;
}
.footer span{
    color: #AAA;
}
.footer p{
    font-size: .8rem;
}
.shlogo
{
    width: 50%;
}
.search-res{
    top: 50px;
    border-radius: 10px;
    width: 95%;
    display: none;
    background-color: rgba(185, 187, 190, 0.9);
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 10;
    transition: 800ms all;
}
.submenu > div{
    display: none;
    top: 65px;
    position: initial;
    background-color: rgba(185, 187, 190, 0.9);
    text-align: center;
    z-index: 10;
    border-radius: 10px;
}
.submenu li{
    list-style-type: none;
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 5px;
}
.submenu > div div{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.gototop{
    position: fixed;
    bottom: 3vw;
    left: 3vw;
}
.gototop > img{
    width: 60px;
    width: 60px;
    opacity: 0.4;
    cursor: pointer;
    display: none;
}
.page-link{
    line-height: 40px!important;
    padding:0!important;
    width: 40px;
}
.card{
    border-radius: 20px!important;
}
.sidebar a{
    padding: .2rem .7rem;
    border-radius: 20px;
}